/*Fonts*/
@font-face {
  font-family: "Lato-black";

  src: url("assets/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-bold";

  src: url("assets/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-regular";

  src: url("assets/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-light";

  src: url("assets/Lato-Light.ttf");
}

/*Fonts*/

/*Portfolio*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;

  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.portfolio {
  position: relative;

  padding: 61px 20px 53px 40px;

  background-color: #2d303a;
}

.portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.portfolio .title {
  margin-bottom: 22px;

  font-size: 30px;
  font-family: "Lato-black";
  color: #666d89;
}

.portfolio .subtitle {
  font-size: 18px;
  font-family: "Lato-light";
  color: #767e9e;
}

.portfolio .badges {
  display: flex;
  margin-bottom: 19px;
}

.badges .item {
  padding: 2.5px 6.5px;

  font-size: 12px;
  line-height: 0.8rem;
  font-family: "Lato-regular";
  color: #767e9e;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.badges .item:hover {
  color: #dedede;

  border-color: #c5c5c5;
}

.badges .item.selected {
  color: #dedede;

  border-color: #c5c5c5;
}

.badges .item:not(:last-child) {
  margin-right: 9px;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.images .image-item {
  margin-right: 20px;
  margin-bottom: 16px;
}

.images .image-item:nth-child(n + 13) {
  display: none;
}

.images .image-item img {
  width: 220px;
  height: 187px;
}
/*Portfolio*/

/*About Us*/
.about-us {
  position: relative;

  padding: 60px 40px 56px 40px;

  background-color: #f2f2f2;
}

.about-us::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}

.about-us .title {
  margin-bottom: 21px;

  font-size: 30px;
  font-family: "Lato-black";
  color: #666d89;
}

.about-us .subtitle {
  margin-bottom: 46px;

  font-size: 18px;
  line-height: 1.7rem;
  font-family: "Lato-light";
  color: #767e9e;
  letter-spacing: 0.15px;
}

.about-us .team {
  display: flex;
}

.team .teammate {
  width: 300px;
}

.team .teammate:not(:last-child) {
  margin-right: 20px;
}

.teammate .image-container img {
  width: 300px;
  height: 300px;
  margin-bottom: 13px;
}

.teammate .name {
  margin-bottom: 10px;
  overflow: hidden;

  font-size: 18px;
  font-family: "Lato-black";
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.teammate .description {
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.2rem;
  font-family: "Lato-regular";
  color: #767e9e;
  letter-spacing: 0.1px;
  word-wrap: break-word;
}

.social-networks {
  display: flex;
}

.social-networks .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border: 1px solid #666d89;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.3s;
}

.social-networks .item:hover {
  box-shadow: 0 0 5px #666d89;
}

.social-networks .item:not(:last-child) {
  margin-right: 6px;
}
/*About Us*/

