/*Fonts*/
@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Lato-black";

  src: url("assets/Lato-Black.ttf");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Lato-bold";

  src: url("assets/Lato-Bold.ttf");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Lato-regular";

  src: url("assets/Lato-Regular.ttf");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Lato-light";

  src: url("assets/Lato-Light.ttf");
}
/*Fonts*/

/*Common Styles*/
html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 1.2rem;
  line-height: 2.2rem;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;

  padding-inline-start: 0;
}

a {
  color: #767e9e;
  text-decoration: none;
}

section,
footer,
header {
  display: flex;
  justify-content: center;
}

/*Common Classes*/
.hidden {
  display: none;
}

.wrapper {
  width: 1020px;
}

.section_title {
  margin-bottom: 18px;

  font-size: 3rem;
  line-height: 3.6rem;
  font-family: "Lato-black";
}

.section_subtitle {
  margin-bottom: 44px;

  font-size: 1.8rem;
  line-height: 3rem;
  font-family: "Lato-light";
  text-align: justify;
}

.social-links {
  display: flex;
}

.social-links .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  cursor: pointer;

  transition: 0.3s;
}

.social-links .item:not(:last-child) {
  margin-right: 8px;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;
  padding: 30px 0 33px 0;

  background-color: #2d303a;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header__burger {
  position: relative;

  display: none;
  width: 25px;
  height: 20px;
}

.burger__line {
  position: absolute;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 2.5px;

  background-color: #ffffff;
  border-radius: 5px;
}

.burger__line:first-child {
  top: 0;
}

.burger__line:nth-child(2) {
  top: calc(50% - 1.25px);
}

.burger__line:last-child {
  bottom: 0;
}

.header__title a {
  display: flex;

  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Lato-bold";
  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;

  transition: 0.3s;
}

.header__title a:hover {
  text-shadow: 0 0 20px #ffffff;
}

.header__title a::after {
  content: "*";

  color: #f06c64;
}

.header__navigation .navigation {
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
}

.navigation__link {
  position: relative;
}

.navigation__link:not(:last-child) {
  margin-right: 29px;
}

.navigation__link:not(:first-child)::before {
  content: "·";
  position: absolute;
  bottom: 2px;
  left: -16px;

  font-family: "Lato-bold";
  color: #494e62;
}

.navigation__link a {
  position: relative;

  line-height: 1.4rem;
  font-family: "Lato-bold";
  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;
}

.navigation__link a:hover::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 3px;

  background-color: #ffffff;
}

.link_selected a:hover::after {
  background-color: #f06c64;
}

.link_selected a {
  color: #f06c64;
}
/*Header*/

/*Slider*/
.slider {
  position: relative;

  padding-top: 95px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;

  transition: all 0.05s;
}

.slider .wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 594px;
}

.slider-button__container {
  position: absolute;
  z-index: 100;

  display: flex;
  align-items: center;
  height: 100%;

  cursor: pointer;

  transition: 0.3s;
}

.prev-button_container {
  left: 0;
}

.next-button_container {
  right: 0;
}

.slider-button__container:hover {
  background-color: rgba(241, 241, 241, 0.5);
}

.arrow__button {
  display: block;

  cursor: pointer;
}

object.blue .arrow-svg {
  fill: #5679d4;
}
.arrow-svg {
  fill: #e94348;
}

.button_prev {
  padding-top: 6px;
  padding-left: 40px;
}

.button_next {
  padding-top: 6px;
  padding-right: 40px;
}

.slider__content {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*first-slide*/

.first_slide {
  height: 100%;
}

.first_slide img:first-child {
  position: absolute;
  top: 9%;
  left: 11%;

  width: 240px;
  height: 483px;
}

.first_slide img:last-child {
  position: absolute;
  top: 29.5%;
  left: 41.7%;

  width: 483px;
  height: 240px;
}

/*second-slide*/

.second_slide {
  height: 100%;
}

.second_slide::after {
  display: none;
}

.second_slide img:first-child {
  position: absolute;
  top: 7.2%;
  left: 37.6%;
}

.second_slide img:nth-child(2) {
  position: absolute;
  top: 25.4%;
  left: 24.7%;
  z-index: 10;
}

.second_slide img:last-child {
  position: absolute;
  top: 25.4%;
  left: 60%;
}
/*Slider*/

/*Our Services*/
.our-services {
  position: relative;

  padding: 60px 40px 21px 40px;

  background-color: #f2f2f2;
}

.our-services::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}

.our-services__title {
  color: #666d89;
}

.our-services__subtitle {
  margin-bottom: 47px;

  color: #767e9e;
}

.our-services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-inline-start: 0;
}

.service__item {
  display: flex;
  flex-basis: 32%;
  margin-bottom: 36px;
}

.service__icon {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin-right: 20px;

  border: 2px solid #666d89;
  border-radius: 50%;
}

.service__content {
  display: flex;
  flex-direction: column;
}

.service__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "Lato-black";
  color: #666d89;
}
.service__description {
  max-width: 220px;
  height: 60px;
  padding-top: 10px;
  overflow: hidden;

  font-family: "Lato-regular";
  text-align: justify;
  color: #767e9e;
}
/*Our Services*/

/*Portfolio*/
.portfolio {
  position: relative;

  padding: 60px 20px 53px 40px;

  background-color: #2d303a;
}

.portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.portfolio__title {
  margin-bottom: 17px;

  color: #666d89;
}

.portfolio__subtitle {
  margin-bottom: 0;

  color: #767e9e;
}

.portfolio__tabs {
  display: flex;
  margin-bottom: 18px;
}

.portfolio__tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  padding: 0 6px;

  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: "Lato-regular";
  color: #767e9e;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.portfolio__tabs .tab:hover {
  border-color: #c5c5c5;
}

.portfolio__tabs .tab_selected {
  color: #dedede;

  border-color: #c5c5c5;
}

.portfolio__tabs .tab:not(:last-child) {
  margin-right: 11px;
}

.portfolio__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portfolio__images .image {
  margin-right: 20px;
  margin-bottom: 13.5px;
}

.portfolio__images .image:nth-child(n + 13) {
  display: none;
}

.portfolio__images .image img {
  width: 220px;
  height: 187px;
}

.portfolio__images .image_selected {
  box-shadow: 0 0 0 5px #f06c64;
}

/*Portfolio*/

/*About Us*/
.about-us {
  position: relative;

  padding: 58px 40px 74px 40px;

  background-color: #f2f2f2;
}

.about-us::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}

.about-us__title {
  color: #666d89;
}

.about-us__subtitle {
  margin-bottom: 43.5px;

  color: #767e9e;
}

.about-us__team {
  display: flex;
  justify-content: space-between;
}

.teammate {
  display: block;
  flex-basis: 32%;
}

.teammate__image img {
  width: 100%;
  margin-bottom: 11px;
}

.teammate__name {
  margin-bottom: 8px;
  overflow: hidden;

  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "Lato-black";
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.teammate__description {
  margin-bottom: 24px;

  line-height: 2.2rem;
  font-family: "Lato-regular";
  text-align: justify;
  color: #767e9e;
}

.teammate__social-networks .item {
  border: 1px solid #666d89;
}

.teammate__social-networks .item:hover {
  box-shadow: 0 0 10px #666d89;
}
/*About Us*/

/*Get a Quote*/
.get-quote {
  position: relative;

  padding: 61px 40px 64px 40px;

  background-color: #f06c64;
}

.get-quote::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ea676b;
}

.get-quote__title {
  color: #f0d8d9;
}

.get-quote__subtitle {
  margin-bottom: 42.3px;

  color: #f0d8d9;
}

.get-quote__form {
  display: flex;
  justify-content: space-between;
}

.get-quote__form form {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
}

.get-quote__contact {
  flex-basis: 32%;
}

.get-quote__form input,
textarea {
  width: 100%;
  max-width: 590px;
  padding: 0 15px;
  padding-left: 14.5px;

  font-size: 1.2rem;
  font-family: "Lato-regular";
  color: #f48c8f;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.get-quote__form input::placeholder,
textarea::placeholder {
  font-size: 1.2rem;
  font-family: "Lato-regular";
  color: #f48c8f;
}

.form__field:hover {
  transition: 0.3s;
}

.form__field:focus {
  outline: none;
}

.get-quote__form input {
  height: 38px;
  margin-bottom: 16px;
}

.comment_field {
  height: 151px;
  margin-bottom: 14px;
  padding-top: 8px;

  resize: none;
}

.comment_field:focus,
input:focus {
  box-shadow: 0 0 0 3px #f48c8f;
}

.submit_button {
  width: 136px;
  height: 38px;

  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: "Lato-regular";
  text-align: center;
  color: #886a30;
  text-transform: uppercase;

  background: #fbc65f;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.submit_button:hover {
  color: #f48c8f;

  background-color: #d6564f;
  border-color: #f48c8f;
}

.contact__title {
  margin-bottom: 10.5px;

  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "Lato-bold";
  color: #f0d8d9;
}

.contact__subtitle {
  margin-bottom: 23px;

  font-family: "Lato-light";
  text-align: justify;
  color: #f0d8d9;
}

.adress__content span {
  font-family: "Lato-regular";
  color: #f0d8d9;
}

.adress__content span:hover {
  text-decoration: underline;
}

.adress__content img {
  width: 12px;
  height: 11px;
  margin-right: 9px;
}
/*Get a Quote*/

/*Footer*/
.footer {
  padding: 24px 42px 22px 41px;

  background-color: #2d303a;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 1.3rem;
  line-height: 18px;
  font-family: "Lato-regular";
  color: #666d89;
}

.footer__social-networks .item {
  background-color: #2d303a;
  border: 1px solid #666d89;
}

.footer__social-networks .item:hover {
  box-shadow: 0 0 10px #ffffff;
}
/*Footer*/

/*Modal-Window*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: rgba(72, 72, 72, 0.4);
}

.modal__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  width: 40vw;
  max-height: 200px;
  margin: auto;
  padding: 20px 15px;

  color: #ffffff;

  background-color: #2d303a;
  border: 3px solid #f06c64;
}

.modal__content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 2.5rem;
  font-family: "Lato-bold";
  text-align: center;
}

.message__item {
  margin-bottom: 20px;
}

.message__item .field {
  font-size: 1.8rem;
  font-family: "Lato-black";
  color: #f06c64;
}

.message__item .content {
  font-size: 1.5rem;
  font-family: "Lato-light";
  word-break: break-word;
}

.message__button {
  position: absolute;
  bottom: -45px;
  left: -4px;

  width: 100px;
  height: 38px;

  font-size: 2rem;
  color: #d6564f;

  background-color: #f06c64;
  border: 2px solid #d6564f;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.message__button:hover {
  color: #f2f2f2;

  border: 2px solid #f2f2f2;
}
/*Modal-Window*/

/*Media Queries*/
@media (min-width: 768px) and (max-width: 1019px) {
  /*Header*/
  .header {
    padding: 30px 0 35.5px 0;
  }

  .header .wrapper {
    padding: 0 43.5px 0 39.7px;
  }

  .header__navigation .navigation {
    margin-top: 7px;
  }

  .navigation__link:not(:last-child) {
    margin-right: 29.2px;
  }

  /*Slider*/
  .slider .wrapper {
    height: 445px;
  }

  .button_prev {
    padding-top: 8px;
    padding-left: 29.7px;
  }

  .button_next {
    padding-top: 8px;
    padding-right: 26.5px;
  }

  .first_slide img:first-child {
    width: 180.85px;
    height: 363.74px;
  }

  .first_slide img:last-child {
    width: 364.21px;
    height: 180.93px;
  }

  /*Our Services*/
  .our-services {
    padding: 40px 40px 9px 41px;
  }

  .service__item {
    flex-basis: 48.5%;
    margin-bottom: 56.5px;
  }

  .our-services__subtitle {
    margin-bottom: 38.9px;
  }

  .service__icon {
    margin-top: 0;
  }

  /*Portfolio*/
  .portfolio {
    padding: 59px 20px 51px 40px;
  }

  .portfolio__title {
    margin-bottom: 19.5px;
  }

  .portfolio__subtitle {
    font-size: 1.9rem;
  }

  .portfolio__tabs {
    margin-bottom: 28.5px;
  }

  .portfolio__images {
    justify-content: flex-start;
  }

  .portfolio__images .image {
    flex-basis: auto;
    height: 184px;
    margin-bottom: 20px;
  }

  .portfolio__images .image img {
    width: 216px;
    height: 184px;
  }

  /*About Us*/
  .about-us {
    padding: 53px 32px 76px 42px;
  }

  .about-us__subtitle {
    margin-bottom: 37.5px;
  }

  .teammate {
    flex-basis: 31.8%;
    margin-right: 0.8%;
  }

  .teammate__image {
    margin-bottom: 4px;
  }

  .teammate__image img {
    width: 100%;
    margin-bottom: 0;
  }

  .teammate__name {
    margin-bottom: 4px;
  }

  .teammate__description {
    margin-bottom: 10.5px;
  }

  /*Get a Quote*/
  .get-quote {
    padding: 54px 37px 43.5px 41px;
  }

  .get-quote__subtitle {
    margin-bottom: 24.5px;
  }

  .get-quote__form input,
  textarea {
    padding: 0;
    padding-left: 8.5px;
  }

  .get-quote__form form {
    flex-basis: 62.8%;
  }

  .get-quote__form input {
    margin-bottom: 12px;
  }

  .comment_field {
    margin-bottom: 17px;
  }

  .get-quote__contact {
    flex-basis: 32%;
  }

  .contact__title {
    margin-bottom: 3.5px;
  }

  .contact__subtitle {
    margin-bottom: 11.5px;
  }

  .adress__content img {
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  /*Header*/
  .header {
    padding: 24px 0 23px 0;
  }

  .header::after {
    display: none;
  }

  .header__navigation {
    display: none;
  }

  .header .wrapper {
    align-items: center;
    padding: 0 35.3px 0 20px;
  }

  .header__burger {
    display: block;
    margin-bottom: 0.8px;
  }

  .header__title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .header__title a {
    font-size: 1.96875rem;
    line-height: 2.4rem;
    letter-spacing: -0.03em;
  }

  /*Slider*/
  .slider {
    padding-top: 71px;
  }

  .slider::after {
    height: 2.21px;
  }

  .slider .wrapper {
    height: 214.59px;
  }

  .arrow__button img {
    width: 15.5px;
  }

  .button_prev {
    padding-top: 9px;
    padding-left: 9.4px;
  }

  .button_next {
    padding-top: 9px;
    padding-right: 8.5px;
  }

  .first_slide img:first-child {
    left: 10.8%;

    width: 88.3px;
    height: 177.61px;
  }

  .first_slide img:last-child {
    left: 41.4%;

    width: 177.61px;
    height: 88.3px;
  }

  /*Our Services*/
  .our-services {
    padding: 25px 29px 16px 32px;
  }

  .our-services__subtitle {
    margin-bottom: 26.8px;

    font-size: 1.9rem;
    line-height: 3.1rem;
  }

  .our-services__list {
    flex-direction: column;
  }

  .service__item {
    margin-bottom: 0;
  }

  .service__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .service__description {
    padding-top: 10px;
  }

  /*Portfolio*/
  .portfolio {
    padding: 42px 17px 27px 30px;
  }

  .portfolio__title {
    margin-bottom: 19.5px;
  }

  .portfolio__tabs {
    margin-top: 17px;
    margin-bottom: 25px;
  }

  .portfolio__tabs .tab:not(:last-child) {
    margin-right: 10.5px;
  }

  .portfolio__images {
    justify-content: flex-start;
  }

  .portfolio__images .image {
    flex-basis: auto;
    height: 128px;
    margin-right: 13px;
    margin-bottom: 14px;
  }

  .portfolio__images .image:nth-child(n + 9) {
    display: none;
  }

  .portfolio__images .image img {
    width: 151px;
    height: 128px;
  }

  /*About Us*/
  .about-us {
    padding: 33px 30px 45px 30px;
  }

  .about-us__subtitle {
    margin-bottom: 26.5px;

    font-size: 1.9rem;
  }

  .about-us__team {
    flex-direction: column;
  }

  .teammate:not(:last-child) {
    margin-bottom: 35px;
  }

  .teammate__image {
    height: 314px;
    margin-bottom: 19px;
  }

  .teammate__image img {
    width: 314px;
    height: 314px;
  }

  .teammate__name {
    margin-bottom: 3px;
  }

  .teammate__description {
    max-width: 314px;
    margin-bottom: 11px;
  }

  /*Get a Quote*/
  .get-quote {
    padding: 44px 31px 36px 30px;
  }

  .get-quote__subtitle {
    margin-bottom: 24.5px;

    font-size: 1.9rem;
  }

  .get-quote__form {
    flex-direction: column;
  }

  .get-quote__form form {
    margin-bottom: 32px;
  }

  .get-quote__form input,
  textarea {
    width: calc(100% - 6.5px);
    max-width: 100%;
    padding: 0;
    padding-left: 6.5px;
  }

  .get-quote__form input {
    margin-bottom: 12px;
  }

  .comment_field {
    margin-bottom: 14.5px;
  }

  .submit_button {
    width: 100%;
    height: 50px;
  }

  .adress__item {
    display: flex;
    align-items: center;
    margin-bottom: 2.5px;
  }

  .contact__title {
    margin-bottom: 2.5px;
  }

  .contact__subtitle {
    margin-bottom: 15.5px;
  }

  .content_location img {
    width: 8px;
    height: 13.71px;
    margin-right: 12px;
  }

  .content_phone img {
    width: 12px;
    height: 13.71px;
  }

  .content_mail img {
    width: 13px;
    height: 10.29px;
  }

  /*Footer*/
  .footer {
    padding-top: 22px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer .wrapper {
    justify-content: center;
  }

  .footer__copyright {
    display: none;
  }

  /*Modal*/
  .modal__title {
    font-size: 2rem;
  }
}

@media (max-width: 374px) {
  /*Portfolio*/
  .portfolio__tabs .tab {
    font-size: 1rem;
  }

  .portfolio__images .image img {
    width: 123px;
  }

  /*About Us*/
  .teammate__image {
    height: 260px;
  }

  .teammate__image img {
    width: 260px;
    height: 260px;
  }

  .teammate__description {
    max-width: 260px;
  }
}
